{{FrontSide}}

<hr id=answer>


{{#《》}}<br>
<div style='font-family:"方正瘦金书简体";font-weight:lighter ; font-size:19px;text-align: center; color:lightgray ; display: block;'>{{《》}}</div>{{/《》}}

<br>

<div style=' font-family:"方正瘦金书简体";font-size:25px; word-spacing: 0.1em;
letter-spacing: 0.05em; text-align: center; color: black; background-color: white;
line-height: 1.75em;'>{{English}}</div>
<br>

<div style=' font-family:"方正瘦金书简体";font-size:25px; word-spacing: 0.1em;
letter-spacing: 0.05em; text-align: center; color: black; background-color: white;
line-height: 1.75em;'>{{Chinese}}</div>
<hr>
<div style=' font-family:"方正瘦金书简体";font-size:20px; word-spacing: 0.1em;
letter-spacing: 0.05em; text-align: center; color:#00007f ; background-color: white;
line-height: 1.75em;'>{{Notes}}</div>
<br>

<style>
.hidden {
display: none;
}
</style>

<script>
function toggleVisibility(element) {
if (element.classList.contains('hidden')) {
element.classList.remove('hidden');
} else {
element.classList.add('hidden');
}
}
</script>

{{#Previous Card}}<br>

<div style='font-family:"方正瘦金书简体"; font-size:18px; word-spacing: 0.1em;
letter-spacing: 0.05em; text-align: center; color:#ebebeb; background-color: white;
line-height: 1.75em;' onclick="toggleVisibility(this.nextElementSibling);">Previous Card</div>

<div class="hidden" style='font-family:"方正瘦金书简体"; font-size:18px; word-spacing: 0.1em;
letter-spacing: 0.05em; text-align: center; color:#ff5500; background-color: white;
line-height: 1.75em;'>{{Previous Card}}</div>

{{/Previous Card}}

{{#Next Card}}
<div style='font-family:"方正瘦金书简体"; font-size:18px; word-spacing: 0.1em;
letter-spacing: 0.05em; text-align: center; color:#ebebeb; background-color: white;
line-height: 1.75em;' onclick="toggleVisibility(this.nextElementSibling);">Next Card</div>

<div class="hidden" style='font-family:"方正瘦金书简体"; font-size:18px; word-spacing: 0.1em;
letter-spacing: 0.05em; text-align: center; color:#ff5500; background-color: white;
line-height: 1.75em;'>{{Next Card}}</div>
{{/Next Card}}

{{#Foregoing Text}}
<div style='font-family:"方正瘦金书简体"; font-size:18px; word-spacing: 0.1em;
letter-spacing: 0.05em; text-align: center; color:#ebebeb; background-color: white;
line-height: 1.75em;' onclick="toggleVisibility(this.nextElementSibling);">Foregoing Text</div>
<div class="hidden" style='font-family:"方正瘦金书简体"; font-size:18px; word-spacing: 0.1em;
letter-spacing: 0.05em; text-align: center; color: black; background-color: white;
line-height: 1.75em;'>{{Foregoing Text}}</div>
{{/Foregoing Text}}

{{#Subsequent Text}}
<div style='font-family:"方正瘦金书简体"; font-size:18px; word-spacing: 0.1em;
letter-spacing: 0.05em; text-align: center; color:#ebebeb; background-color: white;
line-height: 1.75em;' onclick="toggleVisibility(this.nextElementSibling);">Subsequent Text</div>
<div class="hidden" style='font-family:"方正瘦金书简体"; font-size:18px; word-spacing: 0.1em;
letter-spacing: 0.05em; text-align: center; color: black; background-color: white;
line-height: 1.75em;'>{{Subsequent Text}}</div>
<br>
{{/Subsequent Text}}

</script>