<!-- <div style=' font-family:"方正瘦金书简体";font-size:25px; word-spacing: 0.1em; letter-spacing: 0.05em; text-align: center; color: WHITE; background-color: white; line-height: 1.75em;'>{{Audiosound}}</div> -->

<div style=' font-family:"方正瘦金书简体";font-size:25px; word-spacing: 0.1em; letter-spacing: 0.05em; text-align: center; color: black; background-color: white; line-height: 1.75em;'>{{DIY}}</div>

<br>

<div class="audio-box">
  <audio id="audioTag" controlsList="nodownload" disablePictureInPicture controls></audio>
  <div class="a-controls">
    <div class="play-pause" id="playPause">
      <div id="normal-play " class="turn-ward icon-btn icon-play show normal spd100pct" onclick="setSpeedToX(1)">1</div>
    </div>
    <div id="turnPrev" class="turn-ward spd050pct" onclick="setSpeedToX(0.5)">0.5</div>
    <div id="turnPrev" class="turn-ward spd070pct" onclick="setSpeedToX(0.7)">0.7</div>
    <div id="turnNext" class="turn-ward spd150pct" onclick="setSpeedToX(1.5)">1.5</div>
    <div id="turnNext" class="turn-ward spd200pct" onclick="setSpeedToX(2)">2</div>
  </div>
  <div style="margin:-1.8em 0 1em 0">
    <input id="speedInputBox" style="width:6em;" />
    <button onclick="setSpeedByInput()">APPLY</button>
  </div>
  <div class="audio-footer">
    <div><input type="checkbox" class="autoPlayback" onclick="handleAutoPlayback()" />AUTOPLAY</div>
    <div><input type="checkbox" class="loopPlayback" onclick="handleLoopPlayback()" />LOOP PLAYBACK</div>
  </div>
</div>

<script>
var audio = document.getElementById('audioTag');
var loop_play = document.getElementsByClassName("loopPlayback");
var auto_play = document.getElementsByClassName("autoPlayback");
var played_once = false;
var speed_input_box = document.getElementById("speedInputBox");
var currActiveSpeedCtrl = localStorage.getItem("currActiveSpeedCtrl");
var ended_event_func = "";
console.log("当前主控播放速度控件 = " + currActiveSpeedCtrl);

// 定义函数：调整两个速度按钮的选中样式，并设定播放速度为最新的数值（存于全局变量 currActiveSpeedCtrl 中）
function setSpeedBtnState(lastBtnName, currBtnName) {
  states = ["spd050pct","spd070pct","spd100pct","spd150pct","spd200pct"]
  if (states.find((e) => { if (e === lastBtnName) return true; })) {
    var lastSpeedBtn = document.getElementsByClassName(lastBtnName);
    lastSpeedBtn[0].setAttribute('style', 'background-color: transparent !important;color:#000;border-color:#000 !important;');
  }
  localStorage.setItem("currActiveSpeedBtn", currBtnName);
  var currSpeedBtn = document.getElementsByClassName(currBtnName);
  currSpeedBtn[0].setAttribute('style', 'background-color: #0000ff96 !important;color:#fff;border-color:cornflowerblue !important;');
}

function clearSpeedBtnState() {
  var speedBtns = document.getElementsByClassName("turn-ward");
  for (btn of speedBtns) {
    btn.setAttribute('style', 'background-color: transparent !important;color:#000;border-color:#000 !important;');
  }
}

// 定义函数：用于设定新的播放速度，并改变两个相关速度按钮的显示状态
// 如果播放速度不是标准数值，则取消所有按钮的选中样式
function setSpeedToX(val) {
  if (val == null) val = 1.0;
  audio.playbackRate = val;
  speed_input_box.value = val;
  localStorage.setItem("speedInput", val);
  spdLabel = ((100 * val + 1000) + "").substr(1);
  var lastActiveSpeedBtn = localStorage.getItem("currActiveSpeedBtn");
  var vals = [0.5, 0.7, 1.0, 1, 1.5, 2.0, 2]
  var matches = vals.filter((e) => { if (e == val) return true; })
  if (matches.length > 0) {
    localStorage.setItem("currActiveSpeedBtn", "spd" + spdLabel +"pct");
    setSpeedBtnState(lastActiveSpeedBtn, "spd" + spdLabel +"pct");
  } else {
    clearSpeedBtnState();
  }
}

// 处理自动播放操作
function handleAutoPlayback(){
  if (localStorage.getItem("isAuto") === "true") {
    audio.autoplay = false;
    localStorage.setItem("isAuto", "false");
  } else {
    audio.autoplay = true;
    localStorage.setItem("isAuto", "true");
  }
}

// 处理循环播放操作
function handleLoopPlayback() {
  if (localStorage.getItem("isLoop") === "true") {
    audio.pause();
    audio.currentTime = 0;
    localStorage.setItem("isLoop", "false");
    setSpeedByLastInput();
  } else {
    localStorage.setItem("isLoop", "true");
    setSpeedByLastInput();
  }
}

// 定义函数：用于设定播放速度（通过界面上的应用按钮）
function setSpeedByInput() {
  var currSpeed = speed_input_box.value;
  localStorage.setItem("speedInput", currSpeed);
  localStorage.setItem("currActiveSpeedCtrl", "SpeedInputBox");
  setSpeedToX(currSpeed);
}

// 定义函数：用于设定播放速度（读取本地存储）
function setSpeedByLastInput() {
  var currSpeed = localStorage.getItem("speedInput");
  setSpeedToX(currSpeed);
}

// 定义触发器：用于处理播放错误（载入多个音频）
audio.addEventListener("error", () => {
  // 读取音频播放模式
  if (localStorage.getItem("isLoop") === "true") {
    loop_play[0].checked = true;
  } else {
    loop_play[0].checked = false;
  }
  if (localStorage.getItem("isAuto") === "true") {
    auto_play[0].checked = true;
    if (played_once == false) { audio.autoplay = true; }
    else { audio.autoplay = false; }
  } else {
    auto_play[0].checked = false;
    audio.autoplay = false;
  }
  // 利用上次按钮设定播放速度
  var currSpeed = localStorage.getItem("speedInput");
  var currSpeedBtn = localStorage.getItem("currActiveSpeedBtn");
  setSpeedToX(currSpeed);

  let all_audios = `{{text:Audio}}`.trim().split(/\s+/);
  let index = 0;
  if (typeof(ended_event_func) === "function") {
    audio.removeEventListener("ended", ended_event_func);
  }
  audio.addEventListener("ended", function handler() {
    if (++index < all_audios.length) {
      audio.src = all_audios[index];
      setSpeedByLastInput();
      audio.play();
    } else {
      // 整个序列均已播放完毕
      played_once = true;
      audio.autoplay = false;
      index = 0;
      audio.src = all_audios[index];
      setSpeedByLastInput();
      if (localStorage.getItem("isLoop") === "true") {
        audio.play();
      }
    }
    ended_event_func = handler;
  });
  // 载入第一个音频文件
  audio.src = all_audios[index];
  setSpeedByLastInput();
});

// 用假音频启动播放，触发错误处理（以便连续载入多个音频）
audio.src = "foo.mp3";
audio.play();
</script>

<div style=' font-family:"方正瘦金书简体";font-size:25px; word-spacing: 0.1em;
letter-spacing: 0.05em; text-align: center; color: black; background-color: white;
line-height: 1.75em;margin-top:35px'>
{{type:English}}
</div>