body {
  margin: 0;
  padding: 0;
  background-color:#fff;
}
audio#audioTag {
  width: 80%;
  margin: 10px;
}
audio::-webkit-media-controls { 
  overflow: hidden !important 
} 
audio::-webkit-media-controls-enclosure { 
  width: calc(100% + 40px); 
  margin-left: auto; 
} 
audio { 
  border-radius: 50px; 
} 

.audio-box {
  text-align: center;
  margin: 30px auto;
  width: 80%;
  border-radius: 30px;
  background-color: #efefef;
  border-top: 1px solid #dddddd;
}

.a-controls {
  width: 100%;
  padding: 0;
  position: relative;
  text-align: center;
  margin-bottom: 28px;
  display: flex;
}

.a-controls .play-pause {
  border: 0;
  outline: 0;
  padding: 0;
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: center;
  background-color: #efefef;
}

.a-controls .play-pause .icon-btn {
  display: inline-block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.a-controls .play-pause .show {
  display: block;
}

.a-controls .play-pause .icon-play {
  width: 40px;
  height: 40px;
  background-size: 100% 100%;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 50%;
  font-size: 25px;
  background-color: #efefef;
}

.a-controls .turn-ward {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  box-sizing: border-box;
  line-height: 35px;
  border-radius: 50%;
  border: 3px solid #000;
  cursor: pointer;
}

.a-controls .spd050pct {
  left: 15%;
  font-size: 13px;
}

.a-controls .spd070pct {
  left: 30%;
  /* margin-left: -20px; */
}

.a-controls .spd150pct {
  right: 30%;
}

.a-controls .spd200pct {
  right: 15%;
  /* margin-right: -20px; */
}

.audio-footer {
  display: flex;
}

.audio-footer div {
  flex: 50%;
  text-align: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 400px) {
  .a-controls .turn-ward{
    width: 30px;
    height: 30px;
    font-size: 12px;
    line-height: 25px;
  }

  .a-controls .play-pause .icon-play {
    width: 30px;
    height: 30px;
    font-size: 12px;
    line-height: 25px;
  }
}