em.rm-italics {
  font-style: normal;
  color: green;
}
div.rm-inline-img__resize {
  max-width: 98%;
}
div.rm-inline-img__resize .react-resizable {
  max-width: 100%;
}
span.rm-bullet__inner--user-icon {
  background-color: rgba(128,128,128,0.72);
}
.rm-bullet.rm-bullet--closed .rm-bullet__inner--user-icon {
  background-color: rgba(128,128,128,0.96);
  border-color: rgba(168,150,0,0.36);
}
span.rm-bullet::before {
  /* content: "🌻"; */
  position: absolute;
  font-size: 0.9em;
  bottom: 1px;
  z-index: -1;
}
/* 笔记不包含光标也没被选中时，应用卡片样式，背景变浅蓝色 */
div.roam-main div.rm-level-0 > .roam-block-container.rm-block.rm-block--mine.rm-not-focused.block-bullet-view:not(.block-highlight-blue) {
  background-color: rgba(144,238,232,0.33);
  border-radius: 10px;
  margin: 10px 0 10px 0;
  padding: 10px 0 10px 0;
}
/* 笔记中包含光标时，应用卡片样式，同时背景变为浅绿色 */
div.roam-main div.rm-level-0 > .roam-block-container.rm-block.rm-block--mine.rm-focused.block-bullet-view,
div.roam-main div.rm-level-0 > .roam-block-container.rm-block.rm-block--mine.rm-not-focused.block-bullet-view:focus-within {
  background-color: rgba(144,238,144,0.33);
  border-radius: 10px;
  margin: 10px 0 10px 0;
  padding: 10px 0 10px 0;
}
/* 笔记处于行选中状态时，应用卡片样式，呈现默认蓝色高亮 */
div.roam-main div.rm-level-0 > .roam-block-container.rm-block.rm-block--mine.rm-not-focused.block-bullet-view.block-highlight-blue {
  border-radius: 10px;
  margin: 10px 0 10px 0;
  padding: 10px 0 10px 0;
}
/* ---- */